*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body{
    width: 100%;
    font-family: sans-serif;
    font-weight: 400;
    background-color: rgb(96, 94, 94);
}

.view{
   padding: 1rem 37rem;
}

.header{
    display: flex;
    justify-content: space-between;
    height:2rem;
    background-color: black;
    padding: 0rem 1rem;
    align-items: center;   
    color: aliceblue;
}

.header-right{
    display: flex;
    gap: 0.4rem;
}

.container{
    background-color: rgb(68, 67, 67);
    border: 2px solid black;
}

.container-top{
    display: flex;
    justify-content: space-between;
    height: 2rem;
    background-color: rgb(68, 67, 67);
    padding: 0.3rem 1rem;
    color: aliceblue;
}

.container-top-right{
    display: flex;
    gap: 0.3rem;
    align-items: center;
    font-size: 1rem;
}

.container-center img{
    margin-top: 2.7rem;
    width: 100%;
}

.container-bottom{
    padding: 2.75rem 1rem;
    background-color: rgb(68, 67, 67);
    color: aliceblue;
}

.container-bottom-heading-top{
    padding-bottom: 1.5rem;
}

.container-bottom-heading-down h4{
    font-weight: 600;
}

.container-bottom-button h1{
    background-color: black;
    color: aliceblue;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.2rem;
    height: 3rem; 
    padding: 0.8rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}






