*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    position: relative;
}

h1{
    font-family:poppins;
    font-size: 25px;
    font-weight: bold;
    margin-left: 4rem;

}

.header{
    display:flex;
    margin-top: 2rem;
    margin-left: 1rem;
    gap: 50px;
    font-family:poppins;
    max-width: 98%
}

.Home{
    color:  rgb(49, 100, 244);
}

.header:hover{
    cursor: pointer;
    color:  rgb(49, 100, 244);
}

.main{
    margin-top: 150px;
    margin-left: 4rem;
}

.tag{
    font-family: poppins;
    color:gray;
    font-size: 12px;
}

.title{
    font-family: Poppins;  
    font-size: 65px;
    font-weight: bold;
}

img{
    width: 600px;
    height: 600px;
    margin-top: 4rem;
    margin-left: 48rem;
    position: absolute;
    top: 0;
}

.description{
    font-family: poppins;
    color: black;
}

.try-for-free{
    margin-top: 2rem;
    margin-left: 4rem;
    padding: 10px 20px;
    background-color: rgb(49, 100, 244);
    color: white;
    border: 1px solid  rgb(49, 100, 244);  
    border-radius: 9px;
    font-family: poppins;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.75);
}

.see-how-it-works{
    margin-top: 2rem;
    margin-left: 2rem;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 1px solid gray;
    border-radius: 9px;
    font-family: poppins;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.75);
}

.Log-in{
    margin-left: 80%;
    padding: 10px 20px;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    font-family: poppins;
    font-weight: bold;
    margin-left: 40rem;
}

.Sign-up{
    padding: 10px 20px;
    background-color:  rgb(49, 100, 244); 
    color: white;
    font-family: poppins;
    font-weight: bold;
    border: 1px solid  rgb(49, 100, 244);
    border-radius: 9px;
}

.footer{
    margin-top: 7rem;
    font-family: poppins;
    text-align: center;
}