*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    position: relative;
}

.londo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-left: 4rem;

}

.header{
    display:flex;
    margin-left: 10rem;
    gap: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.header:hover{
    cursor: pointer;
    color: royalblue;
}

.main{
    margin-top: 150px;
    margin-left: 4rem;
}

.tag{
    font-family: Arial, Helvetica, sans-serif;
    color:gray;
    font-size: 12px;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    font-weight: bold;
}

img{
    width: 600px;
    height: 600px;
    margin-top: 5rem;
    margin-left: 48rem;
    position: absolute;
    top: 0;
}

.description{
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

.try-for-free{
    margin-top: 2rem;
    margin-left: 4rem;
    padding: 10px 20px;
    background-color: royalblue;
    color: white;
    border: 1px solid royalblue;
    border-radius: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.see-how-it-works{
    margin-top: 2rem;
    margin-left: 2rem;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 1px solid gray;
    border-radius: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.Log-in{
    margin-top: 2rem;
    margin-left: 80%;
    padding: 10px 20px;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.Sign-up{
    margin-top: 2rem;
    padding: 10px 20px;
    background-color: royalblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 1px solid royalblue;
    border-radius: 9px;


}

.footer{
    margin-top: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
