body{
    color: #1e1e16;
    font-family: Times, "Times New Roman", Georgia, serif;
}

.container{
    width: 45%;
    height: 75vh;
    background-image: linear-gradient(to right, #75a7da , #9469bb);
    margin: auto;
    margin-top: 0.8rem;
    padding: 5rem 5rem;
}

.form{
    width: 100%;
    height: 95%;
    background-color: white;
}

.form h1{
    padding: 0.5rem 2rem;
    font-size: 2.3rem;
}

.form .input-line1,.form .input-line2,.form .input-line3,.form .input-line4,.form .input-line5{
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    font-size: 1.2rem;
}

.form input{
    color: #b3b3b5;
}

.btn{
    padding: 1rem 6rem;
}

.btn button{
    background-image: linear-gradient(to right, #74b2e5 , #945eb0);
    color: #d5e3fb;
    height: 2rem;
    width: 30rem;
}