body{
    background-color: rgb(238, 216, 21); 
}
.banner{
    background-color: brown;
    width: 100%;
    height: 250px;
    font-size: 40px;
    color: black;
    text-align: center;
}
.navigation{
    width: 100%;
    height: 600px;
}