@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

html, body{
    font-family: "Anek Latin", sans-serif;
}

.Card{
  max-width: 17rem;
  margin:10rem;
  width:17rem;
}
.Card-image{
  position:relative;
}

.Card-image > img{
  height:200px;
  width:100%;
  border-top-left-radius:0.75rem;
  border-top-right-radius:0.75rem;
}

.overlay{
   height:200px;
  width:100%;
  background:rgba(0,0,0,0.2);
    border-top-left-radius:0.75rem;
  border-top-right-radius:0.75rem;
  position:absolute;
  top:0;
}

.Card-content{
  height:220px;
  border-bottom-left-radius:0.75rem;
  border-bottom-right-radius:0.75rem;
  border:1px solid #333;
  border-top:none;
}

.Card-content-top{
  padding:1rem;
  border-bottom:1px solid #333;
  height:72.5%;
}
.Chip{
  background-color:rgba(255,0,0,0.5);
  color:red;
  padding:0.3rem;
  border-radius: 1rem;
  font-size:0.75rem;
  display:inline;
}

.Card-content-top > p{
  font-size:1.75rem;
  margin-top:1rem;
}
.Card-content-top > span{
  font-size:0.75rem;
  margin-top:1rem;
  color: grey;
}

.Card-content-btns{
  display:flex;
  gap:0.5rem;
  justify-content:flex-end;
  align-items:center;
  height:calc(220px - 72.5%);
  padding-right:1rem
}

.Btn{
   background:#0054E6;
   color: white;
   padding:0.75rem 1rem;
   border:0;
   box-shadow:0 1px 1px 1px grey;
   border-radius: 0.35rem;
   font-size:0.85rem;
   
}

.Card-image-icon{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}